.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.inputGrupo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.botaoCriar {
  background-color: #0056b3;
  color: white;
  width: 50px;
  border-color: rgb(218, 55, 117);
  border-radius: 4px;
  cursor: pointer;
}